DATABASE_URL=
PORT=
DEFAULT_EXAM_DURATION_MINUTES=
DEFAULT_COURSE_PRICE_NAIRA=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_CURRENCY=
APP_BASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SESSION_SECRET=
ADMIN_INITIAL_PASSWORD=
